@import url("https://fonts.googleapis.com/css?family=Amita:100,200,300,400,500,600,700");

/*font-family: 'Amita', cursive;*/

@import url("https://fonts.googleapis.com/css?family=Palanquin:400,500,600,700");

/*font-family: 'Palanquin', sans-serif;*/

// @import url("../fonts/Google-Sans-css.css");

/* font-family: 'Product Sans'; 300,400,500,700,900*/

$theme-primary: #da0401;
$theme-dark-accent: #eb5320;
$theme-light-accent: #feca64;
$theme-light-shade: #fef6f5;
$theme-dark-shade: #221f1f;
$colors: (
	"theme-primary": #da0401,
	"theme-dark-accent": #eb5320,
	"theme-light-accent": #feca64,
	"theme-light-shade": #fef6f5,
	"theme-dark-shade": #221f1f,
);

* {
	font-family: "Palanquin", sans-serif;
	// font-family: 'Product Sans', sans-serif;
}

@media screen and (min-width: 990px) {
	html {
		font-size: 20px;
	}
	section {
		min-height: 90vh;
	}
}

a{
	text-decoration: none;
	color: $theme-primary;
}

h2,
h1 {
	font-family: "Amita", cursive;
	font-weight: 700;
}
h3 {
	font-family: "Amita", cursive;
	font-weight: 500;
}

strong {
	color: $theme-primary;
}

@each $class, $color in $colors {
	.bg-#{$class} {
		background-color: $color;
	}
	.text-#{$class} {
		color: $color !important;
	}
}
.btn {
	@each $class, $color in $colors {
		.btn-#{$class} {
			background-color: $color;
			@if $class == "theme-primary" {
				color: $theme-light-shade;
			} @else if $class == "theme-dark-accent" {
				color: $theme-light-shade;
			} @else {
				color: $color;
			}
		}
	}
}

.swiper {
	&.swiper-grid-column > .swiper-wrapper {
		flex-direction: row;
		.swiper-slide {
			// margin: 0 !important;
		}
	}
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	.navbar-brand {
		.brand-logo {
			height: 50px;
			width: auto;
			transform-origin: top left;
			transform: scale(2.5);
		}
	}
	.navbar-collapse#navbarNav {
		margin-left: 4vw;
	}
	.navbar-nav {
		.nav-item {
			text-align: right;
			.nav-link {
				color: $theme-light-shade;
				// font-family: "Amita", cursive;
				font-weight: 500;
			}
		}
	}
}

main {
	section {
		padding: calc(max(5vw, 1rem)) 0;
		&:nth-child(1) {
			min-height: 70vh;
			padding: 0;
			// background: rgb(255, 0, 0);
			// background: linear-gradient(
			// 	90deg,
			// 	rgba(255, 0, 0, 1) 0%,
			// 	rgba(255, 0, 0, 1) 50%,
			// 	rgba(255, 0, 0, 0) 50%,
			// 	rgba(252, 232, 0, 1) 50%,
			// 	rgba(249, 255, 0, 1) 100%
			// );
			// background-size: 1rem auto;
			// background-repeat: repeat;

		}
		&:nth-child(2n) {
			background-color: darken($color: $theme-light-shade, $amount: 5);
		}
		.page-header {
			color: $theme-primary;
			padding: 1rem 0 2.5rem 0;
			text-align: center;
			h1 {
				position: relative;
				z-index: 0;
				font-weight: 800;
				&::after {
					content: "";
					position: absolute;
					bottom: -3rem;
					filter: brightness(1.5) contrast(2.5);
					left: 0;
					width: 100%;
					height: 3.5rem;
					background: url("../../assets/title-underline.png") no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
		}
		&#gallery {
			.swiper-slide {
				.thumb {
					width: 100%;
					aspect-ratio: 1;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			@media screen and (min-width: 512px) {
				.swiper-slide {
					margin: 1rem !important;
				}
			}
		}
	}
}
